*{
    padding: 0;
    margin: 0;
}
a{
    color: $colorletras;
    text-decoration: none;
    font-family: $font-body;
}
body{
    background-image: url(../img/depositphoto-16.jpg);
    color: $colorletras;
    header nav ul li{
        padding: 4px;
        margin: 3px;
    }
    main ul{
        margin: 20px;
        li{
            font-family: $font-body;
        }
    }
    main div ul{
        h4{
            margin: 20px;
        }
        ul{
            margin-left: 40px;
            margin-bottom: 20px;
        }
        li{
            margin: 20px;
        }
    }
    main div h3{
        margin: 20px;
    }
    div p{
        margin: 20px;
    }
}
.titulos{
    font-family: $font-titutos;
    font-weight: 400;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}
.img-bordered{
    border-radius: 3%;
}


/*GENERALES*/

// index
.frases_index{
    text-align: center;
    font-family: $font-body;
    font-weight: 400;
    margin-bottom: 2%;
    margin-right: 5%;
}
.txt-index1{
    display: flex;
    flex-direction: column;
}
.img-index{
    margin-bottom: 3%;
}
.img-txt-index1{
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.bloque_frases{
    margin-top: 5%;
    margin-bottom: 5%;
}
.nav-flex{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}
// nosotras
.foto-dueñas2{
    margin-left: 4%;
}
.img-p-nosotras{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
}
.parrafo-nosotras{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    margin-left: 4%;
}
// manos y pies
.parra-esculp{
    font-size: larger;
    font-family: $font-titutos;
    text-align: center;
    margin-bottom: 3%;
}
.precios-centro{
    text-align: center;
}
.escul-p-2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;
    align-items: center;
}
.mani-trad-centro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;
    align-items: center;
}
.kapp-centro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;
    align-items: center;
}
.pedi-centro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;
    align-items: center;
    div{
        width: 40%;
    }
}
.pedi-centro2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;
    align-items: center;
    div{
        width: 40%;
    }
}
.rest-centro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;
    align-items: center;
    div{
        width: 40%;
    }
}
// estetica
.card-flex1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
}
.card-flex2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;
}
.cejas-centrado{
    display: flex; 
    justify-content: center;
}
.list-group-item{
    display: flex;
    justify-items: center;
    text-align: center;
    justify-content: center;
}
.flex-cosm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2%;
}
.img-est-centro{
    display: flex;
    justify-content: center;
    img{
        width: 25%;
    }
}
.pest-centro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
    img{
        width: 30%;
    }
}
.img-pest{
    display: flex;
    justify-content: center;
    img{
        margin: 0 auto;
    }
}
// contacto
.formulario-mapa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3%;
    align-items: center;
}
.img-fachada{
    width: 100%;
    margin-bottom: 3%;
}
.fachada-p-contactos{
    margin-bottom: 3%;
}
.frases-contacto{
    text-align: center;
    font-family: $font-body;
    font-weight: 400;
    font-size: larger;
}
.div-floating{
    margin-bottom: 2%;
}
.btn-personal{
    background-color: $gb-hed-foot;
    color: $colorletras;
    margin-top: 5%;
}
.mensaje{
    resize: none;
}

/*animaciones*/

.nav-link:hover{
    color: white;
    text-decoration: underline;
}

/*responsive*/

@media screen and (max-width: 992px) {
    .img-txt-index1{
        flex-direction: column;
        img{
            width: 60%;
        }
    }
    .img-p-nosotras{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    .foto-dueñas{
        width: auto;
        margin: 0 auto;
    }
    .foto-dueñas2{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    .img-p-nosotras{
        margin-bottom: 0;
    }
    .parrafo-nosotras{
        width: 90%;
        margin-left: none;
    }
    .formulario-mapa{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    .img-footer{
        width: 30%;
    }
    .card-flex1{
        flex-wrap: wrap;
        margin: 2%;
        div{
            margin-bottom: 2%;
            margin-top: 2%;
        }
    }
    .card-flex2{
        flex-wrap: wrap;
        div{
            margin-bottom: 2%;
            margin-top: 2%;
        }
    }
    .flex-cosm{
        flex-wrap: wrap;
        justify-content: center;
        div{
            margin-bottom: 2%;
            margin-top: 2%;
        }
    }
    .img-est-centro{
        img{
            width: 50%;
        }
    }
    .escul-p-2{
        flex-wrap: wrap;
        img{
            margin-bottom: 10%;
        }
    }
    .mani-trad-centro{
        flex-wrap: wrap-reverse;
        img{
            margin-bottom: 10%;
        }
    }
    .kapp-centro{
        flex-wrap: wrap;
        img{
            margin-bottom: 10%;
        }
    }
    .pedi-centro{
        flex-direction: column;
        div{
            width: 70%;
        }
        img{
            margin-bottom: 10%;
        }
    }
    .pedi-centro2{
        flex-direction: column-reverse;
        .precios-centro{
            width: 90%;
        }
        img{
            margin-bottom: 10%;
        }
    }
    .rest-centro{
        flex-direction: column;
        .precios-centro{
            width: 70%;
        }
        img{
            margin-bottom: 10%;
        }
    }
    .pest-centro{
        img{
            width: 80%;
        }
    }
    .img-est-centro{
        img{
            width: 80%;
        }
    }
}