header{
    background-color: $gb-hed-foot;
    .container-fluid{
        display: flex;
        flex-direction: row;
        
        div #ir-arriba{
            border: outset #6b705c 0.5px;
        }
    }
}
